$font_paragraph: 14px/17px 'Inter';
$font_headers: "Readex Pro";

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}
@mixin img-adaptive($height) {
  position: relative;
  display: block;
  height: $height;
  text-align: center;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: $height;
    max-width: 100%;
    vertical-align: middle;
  }
}

body {
  background-color: #FFFFFF;
  color: #000000;
  font: $font_paragraph;
}

h1, h2 {
  font-size: 50px;
  line-height: 62px;
}

a {
  color: #000000;

  &:hover {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
  }
}

.button {
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 200px;
  padding: 14px 53px;
  color: #000000;
  transition: 0.3s;
  font-size: 18px;
  line-height: 22px;

  &:hover {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #000000;
  }
}

.section-title {
  font-family: $font_headers;
  text-align: center;
  padding-bottom: 55px;
  @include max-screen(575px) {
    padding-bottom: 25px;
  }

  h3 {
    font-size: 42px;
    line-height: 52px;
    padding-bottom: 9px;
    margin: auto;
    @include max-screen(575px) {
      font-size: 32px;
      line-height: 42px;
    }
  }

  p {
    max-width: 628px;
    margin: auto;
  }
}

// Header & Navbar
.navbar {
  padding: 20px 0;

  .navbar-brand {
    margin-right: 0;
  }

  .nav-item {
    text-transform: uppercase;

    .nav-link {
      color: #000000;
    }
  }

  .nav-icons {
    width: 170px;

    .nav-search {
      margin-right: 20px;
    }

    @include max-screen(992px) {
      width: 100%;
      display: block !important;
    }
  }
}

//Carousel
.carousel-main {
  padding-bottom: 75px;
  @include max-screen(575px) {
    padding-bottom: 25px;
  }

  .carousel-indicators {
    li {
      background-image: url("../img/rectangle.svg");
      width: 194px;
      height: 2px;
    }
  }

  .carousel-slide {
    background-color: #dce5e2;
    border-radius: 32px;

    &.slide-two {
      background-color: #ecc6c6;
    }

    &.slide-three {
      background-color: #dcdce5;
    }

    .carousel-info {
      margin-left: 56px;
      @include max-screen(767px) {
        margin-left: 0;
        text-align: center;
        padding: 15px;
      }

      h1, h2 {
        font-family: $font_headers;
        margin-bottom: 19px;
        @include max-screen(1199px) {
          font-size: 40px;
          line-height: 50px;
        }
        @include max-screen(991px) {
          font-size: 28px;
          line-height: 38px;
          margin-bottom: 10px;
        }
        @include max-screen(803px) {
          font-size: 27px;
          line-height: 39px;
        }
      }

      p {
        margin-bottom: 30px;
        @include max-screen(991px) {
          margin-bottom: 10px;
        }
      }
    }

    .row {
      align-items: center;
    }

    .image-carousel {
      width: 100%;
      @include max-screen(767px) {
        margin: 0 auto;
      }

      img {
        width: 100%;
      }
    }
  }

  .carousel-control-prev {
    width: 50px;

    .carousel-control-prev-icon {
      background-image: url("../img/chevron-left.svg");
      width: 12px;
      height: 24px;
    }
  }

  .carousel-control-next {
    width: 50px;

    .carousel-control-next-icon {
      background-image: url("../img/chebron-right.svg");
      width: 12px;
      height: 24px;
    }
  }
}

//Categories
.categories {
  padding-bottom: 100px;
  @include max-screen(575px) {
    padding-bottom: 25px;
  }

  .categories-items {
    .item {
      max-width: 639px;
      background-color: white;
      box-shadow: 0 4px 35px rgba(0, 0, 0, 0.25);
      transition: 0.3s;

      &:hover {
        margin-top: 42px;
      }

      .categories-title {
        margin-right: 42px;
        @include max-screen(991px) {
          margin-right: 5px;
        }

        p {
          font-family: 'Inter', sans-serif;
          font-size: 15px;
          line-height: 19px;
          text-align: right;
          margin-bottom: 0;
        }

        h4 {
          font-family: $font_headers;
          font-size: 32px;
          line-height: 38px;
          text-align: right;
          @include max-screen(576px) {
            font-size: 22px;
            line-height: 28px;
          }
        }
      }

      img {
        width: 100%;
      }

      &.laptops {
        margin-bottom: 30px;

        img {
          padding-left: 42px;
          padding-right: 92px;
        }
      }

      &.watch {
        background-image: url("../img/watch.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right 216px center;
        @include max-screen(991px) {
          background-position: right 174px center;
        }
        @include max-screen(767px) {
          margin-bottom: 30px;
        }
        @include max-screen(400px) {
          background-position: right 150px center;
        }

        &:hover {
          margin-top: 72px;
        }

        img {
          padding-left: 42px;
          height: 100%;
          padding-right: 0;
        }

        .categories-title {
          p {
            padding-top: 58px;
          }

          h4 {
            padding-bottom: 58px;
          }

          width: 100%;
          @include max-screen(1199px) {
            p {
              padding-top: 30px;
            }

            h4 {
              padding-bottom: 30px;
            }
          }
          @include max-screen(991px) {
            p {
              padding-top: 3px;
            }

            h4 {
              padding-bottom: 3px;
            }
          }
          @include max-screen(767px) {
            p {
              padding-top: 58px;
            }

            h4 {
              padding-bottom: 58px;
            }
          }
          @include max-screen(400px) {
            p {
              padding-top: 30px;
            }

            h4 {
              padding-bottom: 30px;
            }
          }
        }
      }

      &.phones {
        text-align: center;
        height: 650px;
        @include max-screen(1199px) {
          height: 526px;
        }
        @include max-screen(991px) {
          height: 382px;
        }
        @include max-screen(767px) {
          height: 440px;
        }

        img {
          padding-left: 16px;
          margin-bottom: 41px;
        }

        .categories-title {
          margin-right: 0;

          p {
            text-align: center;
          }

          h4 {
            text-align: center;
          }
        }
      }

      &.tablet {
        height: 650px;
        @include max-screen(1199px) {
          height: 526px;
        }
        @include max-screen(991px) {
          height: 382px;
        }
        @include max-screen(767px) {
          height: 440px;
        }

        .categories-title {
          margin-right: 0;

          p {
            text-align: center;
          }

          h4 {
            text-align: center;
          }
        }
      }
    }
  }
}

//Most selled
.most-selled {
  padding-bottom: 74px;
  @include max-screen(575px) {
    padding-bottom: 25px;
  }

  .most-selled-items {
    .item {
      @include max-screen(575px) {
        text-align: center;
      }
      .item-img {
        @include img-adaptive(214px);
      }

      h4 {
        font-family: $font_headers;
        font-size: 22px;
        line-height: 28px;
        margin-top: 37px;
        margin-bottom: 9px;
      }

      p:first-of-type {
        font-size: 14px;
        line-height: 17px;
        color: #4B4B4B;
        margin-bottom: 25px;
      }

      p:last-of-type {
        font-size: 18px;
        line-height: 22px;
        color: #000000;
      }
    }
  }
}

// Best items
.best-products {
  padding-bottom: 72px;
  @include max-screen(575px) {
    padding-bottom: 25px;
  }

  .best-peoducts-items {
    .item {
      background: #F8F9FA;
      border-radius: 16px;
      text-align: center;
      padding-top: 41px;

      p {
        font-family: $font_headers;
        font-size: 13px;
        line-height: 17px;
        margin-bottom: 0;
      }

      h4 {
        font-size: 28px;
        line-height: 35px;
        font-family: $font_headers;
      }

      .item_img {
        @include img-adaptive(220px);
      }

      .button {
        margin: 30px 0;
      }

      &:last-of-type {
        @include max-screen(992px) {
          margin-top: 30px;
        }
      }
    }
  }
}

//Ideas
.ideas {
  .ideas-item {
    .row {
      margin-bottom: 73px;
      @include max-screen(575px) {
        margin-bottom: 15px;
      }

    }

    .item-img {
      @include img-adaptive(420px);

      img {
        top: 0;
        left: 0;
        transform: none;
      }

      @include max-screen(1199px) {
        height: initial;
        max-height: 420px;
      }
      @include max-screen(991px) {
        margin-bottom: 30px;
        img {
          position: relative;
        }
      }
    }

    p {
      font: $font_paragraph;
      font-size: 21px;
      line-height: 27px;
      margin-bottom: 25px;
      @include max-screen(991px) {
        text-align: center;
      }
      @include max-screen(575px) {
        font-size: 17px;
        line-height: 23px;
        margin-bottom: 21px;
      }
    }

    .see-all {
      width: 100%;
      text-align: center;
      margin-bottom: 75px;
      @include max-screen(575px) {
        margin-bottom: 25px;
      }

      a {
        display: inline-block;
        font-size: 24px;
        line-height: 29px;
        text-transform: capitalize;
        color: #000000;

        &:after {
          content: "";
          display: inline-block;
          background-image: url("../img/see_all.svg");
          width: 30px;
          height: 28px;
          vertical-align: top;
        }

        &:hover {
          color: #4c4c4c;

          &:after {
            background-image: url("../img/see_all_grey.svg");
          }
        }
      }
    }
  }
}

//Search
.search {
  padding: 0 15px;

  .section-title {
    padding-bottom: 24px;

    h3 {
      padding: 0;
    }
  }

  .search-from {
    max-width: 650px;
    margin: auto;

    form {
      position: relative;
      margin-bottom: 40px;
      @include max-screen(575px) {
        margin-bottom: 25px;
      }

      .btn-search {
        width: 70px;
        position: absolute;
        left: 0;
        height: 100%;
        background: transparent;
        border: 0;
        padding: 0;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    label {
      display: none;
    }

    #site-search {
      width: 100%;
      background-color: #F8F9FA;
      border: 1px solid #C5C5C5;
      border-radius: 100px;
      padding: 21px 26px 21px 67px;

      &::placeholder {
        color: #000000;
        opacity: initial;
      }
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 68px;
      @include max-screen(575px) {
        margin-bottom: 25px;
      }

      .button {
        margin: 5px;
        padding: 12px 22px;
        border: 1px solid #C5C5C5;

        &:hover {
          border: 1px solid #000000;
        }
      }
    }
  }
}

//Sign up
.signup {
  padding-bottom: 19px;
  margin: 0 15px;

  .container {
    max-width: 935px;
    background-color: #DCE5E2;
    border-radius: 16px;
    padding: 47px 15px 43px 15px;

    .section-title {
      p {
        font-size: 16px;
        line-height: 19px;
      }
    }

    .item_img {
      margin-bottom: 14px;
      @include img-adaptive(200px);
    }

    .signup_form {
      max-width: 400px;
      margin: auto;
      @include max-screen(575px) {
        max-width: 260px;
      }

      form {
        label {
          display: none;
        }

        #site-signup {
          background-color: #DCE5E2;
          border: 1px solid #000000;
          border-radius: 54px 0 0 54px;
          padding: 16px 30px;
          @include max-screen(575px) {
            width: 144px;
          }

          &::placeholder {
            color: #000000;
            opacity: initial;
          }
        }

        .btn-signup {
          color: #FFFFFF;
          background: #000000;
          border-radius: 0 200px 200px 0;
          padding: 16px 30px;
          border: 1px solid #000000;
          cursor: pointer;
          transition: 0.3s;

          &:hover {
            color: #000000;
            background: #FFFFFF;
          }
        }
      }
    }
  }
}

//Footer
footer {
  background-color: #F8F9FA;;
  border-top: 1px solid #DCE5E2;
  padding-top: 55px;

  .footer-items {
    .footer-logo {
      margin-bottom: 18px;

      img {
        margin-bottom: 18px;
      }

      p {
        font-size: 16px;
        line-height: 19px;
        max-width: 304px;
        @include max-screen(1199px) {
          max-width: 100%;
        }
      }
    }
  }

  .footer-nav {
    h4 {
      margin-bottom: 19px;
    }

    ul {
      list-style: none;
      padding-left: 0;

      li {
        font-size: 17px;
        line-height: 22px;
        margin-bottom: 14px;
      }
    }
  }

  .authors {
    margin-top: 78px;
    border-top: 1px solid #DCE5E2;
    @include max-screen(575px) {
      margin-top: 0;
      align-items: center;
      flex-direction: column;
    }

    .author {
      padding-top: 52px;
      padding-bottom: 4px;
      font-size: 18px;
      line-height: 22px;
      @include max-screen(575px) {
        padding-top: 4px;
      }

      a:after {
        content: "";
        display: inline-block;
        background-image: url("../img/see_all.svg");
        background-size: contain;
        width: 21px;
        height: 22px;
        vertical-align: middle;
      }

      a:hover {
        &:after {
          background-image: url("../img/see_all_grey.svg");
        }
      }
    }
  }
}