//1:13

$font_paragraph: 0.875rem/1.063rem 'Inter';
$font_headers: "Readex Pro";

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

body {
  background-color: #FFFFFF;
  color: #000000;
  font: $font_paragraph;
}
//
//.container {
//  max-width: 87.5rem;
//}

h2 {
  font-size: 3.625rem;
  line-height: 4.375rem;
}

a:hover {
  text-decoration: none;
}

.button {
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 12.5rem;
  padding: 0.875rem 3.313rem;
  color: #000000;
  transition: 0.3s;

  &:hover {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #000000;
  }
}

// Header & Navbar
.navbar {
  padding: 1.75rem 1rem;

  .navbar-brand {
    margin-right: 0;
  }

  .nav-item {
    text-transform: uppercase;

    .nav-link {
      color: #000000 !important;
    }
  }

  .nav-icons {
    width: 10.625rem;

    .nav-search {
      margin-right: 1.25rem;
    }

    @include max-screen(992px) {
      width: 100%;
      display: block !important;
    }
  }
}

//Carousel
.carousel-main {
  padding-bottom: 4.688rem;
}

.carousel-indicators {
  li {
    background-image: url("../img/rectangle.svg");
    width: 12.125rem;
    height: 0.125rem;
  }
}

.carousel-control-prev {
  width: 3.125rem;

  .carousel-control-prev-icon {
    background-image: url("../img/chevron-left.svg");
    width: 0.875rem;
    height: 1.625rem;
  }
}

.carousel-control-next {
  width: 3.125rem;

  .carousel-control-next-icon {
    background-image: url("../img/chebron-right.svg");
    width: 0.875rem;
    height: 1.625rem;
  }
}

.carousel-slide {
  background-color: #dce5e2;
  border-radius: 1.25rem;

  &.slide-two {
    background-color: #ecc6c6;
  }

  &.slide-three {
    background-color: #dcdce5;
  }

  .carousel-info {
    margin-left: 3.5rem;
    @include max-screen(767px) {
      margin-left: 0;
      text-align: center;
      padding: 0.938rem;
    }

    h2 {
      font-family: $font_headers;
      margin-bottom: 1.188rem;
      @include max-screen(1199px) {
        font-size: 2.5rem;
        line-height: 3.125rem;
      }
      @include max-screen(991px) {
        font-size: 28px;
        line-height: 38px;
        margin-bottom: 10px;
      }
      @include max-screen(803px) {
        font-size: 1.688rem;
        line-height: 2.438rem;
      }
    }

    p {
      margin-bottom: 1.875rem;
      @include max-screen(991px) {
        margin-bottom: 10px;
      }
    }

    a {
      font-size: 1.125rem;
      line-height: 1.375rem;
    }
  }

  .row {
    height: 100%;
    align-items: center;
  }

  .image-carousel {
    width: 100%;
    @include max-screen(767px) {
      margin: 0 auto;
    }

    img {
      width: 100%;
    }
  }
}

//Categories
.categories {
  padding-bottom: 100px;
}
.section-title {
  font-family: $font_headers;
  text-align: center;
  padding-bottom: 3.438rem;

  h3 {
    font-size: 42px;
    line-height: 52px;
    padding-bottom: 0.563rem;
    margin: auto;
  }

  p {
    max-width: 628px;
    margin: auto;
  }
}

.categories-items {
  .item {
    max-width: 639px;
    background-color: white;
    box-shadow: 0 4px 35px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
    &:hover {
      margin-top: 42px;
    }
    .categories-title {
      margin-right: 42px;
      @include max-screen(991px) {
        margin-right: 5px;
      }
      p {
        font-family: 'Inter';
        font-size: 15px;
        line-height: 19px;
        text-align: right;
        margin-bottom: 0;
      }
      h4 {
        font-family: $font_headers;
        font-size: 32px;
        line-height: 38px;
        text-align: right;
        @include max-screen(576px) {
          font-size: 22px;
          line-height: 28px;
        }
      }
    }
    img {
      width: 100%;
    }
    &.laptops {
      margin-bottom: 30px;
      img {
        padding-left: 42px;
        padding-right: 92px;
      }
    }
    &.watch {
      &:hover {
        margin-top: 72px;
      }
      img {
        padding-left: 42px;
        height: 100%;
        padding-right: 0;
      }
    }
    &.phones {
      text-align: center;
      height: 650px;
      @include max-screen(1199px) {
        height: 526px;
      }
      @include max-screen(991px) {
        height: 382px;
      }
      @include max-screen(767px) {
        margin-top: 30px;
        height: 440px;
      }
      img {
        padding-left: 16px;
        margin-bottom: 41px;
      }
      .categories-title {
        margin-right: 0;
        p {
          text-align: center;
        }
        h4 {
          text-align: center;
        }
      }
    }
    &.tablet {
      height: 650px;
      @include max-screen(1199px) {
        height: 526px;
      }
      @include max-screen(991px) {
        height: 382px;
      }
      @include max-screen(767px) {
        margin-top: 30px;
        height: 440px;
      }
      .categories-title {
        margin-right: 0;
        p {
          text-align: center;
        }
        h4 {
          text-align: center;
        }
      }
    }
  }
}